.App {
  /* text-align: center; */
}

body {
  /* background-image: url('https://wallpaperaccess.com/full/8464664.jpg'); */
  background: url('https://wallpaperaccess.com/full/8464664.jpg') center fixed;
  /* background-image: url(https://64.media.tumblr.com/140c4af8efe2f35c0ea928effeae2ba5/tumblr_pca4yxCW5v1rrftcdo1_540.png); */
  /* background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/cf8b6992222827.5e49a4132099a.jpg); */
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
